<ion-view view-title="Dodaj tankowanie">
  <ion-content>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Ile hajsu</span>
	    <input type="number" ng-model="fillup_money" placeholder="Ile hajsu">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Ile litrów</span>
	    <input type="number" ng-model="fillup_amount" placeholder="Ile litrów">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Aktualny przebieg</span>
	    <input type="number" ng-model="fillup_mileage" placeholder="Aktualny przebieg">
	  </label>
      <div class="item item-input item-select">
            <div class="input-label">
                Wybierz stację
            </div>
          <label>
              <select ng-model="fillup_station">
                  <option value="Orlen">Orlen</option>
                  <option value="Statoil">Statoil</option>
              </select>
          </label>
      </div>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Data</span>
	    <input type="date" placeholder="Data" ng-model="fillup_date">
	  </label>
	  <div class="padding">
        <button class="button button-block button-positive" ng-click="saveFillUp(fillup_money, fillup_amount, fillup_mileage, fillup_station, fillup_date)">Dodaj</button>
      </div>
  </ion-content>
</ion-view>