<ion-view view-title="Dodaj tankowanie">
  <ion-content>
    <h1>Dodaj tankowanie</h1>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Ile hajsu</span>
	    <input type="text" placeholder="Ile hajsu">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Ile litrów</span>
	    <input type="text" placeholder="Ile litrów">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Aktualny przebieg</span>
	    <input type="text" placeholder="Aktualny przebieg">
	  </label>
      <div class="item item-input item-select">
            <div class="input-label">
                Wybierz stację
            </div>
            <select>
                <option>Orlen</option>
                <option>Statoil</option>
            </select>
      </div>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Data</span>
	    <input type="date" placeholder="Data">
	  </label>
  </ion-content>
</ion-view>