<ion-view view-title="Dodaj tankowanie">
  <ion-content>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Ile hajsu</span>
	    <input type="number" placeholder="Ile hajsu">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Ile litrów</span>
	    <input type="number" placeholder="Ile litrów">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Aktualny przebieg</span>
	    <input type="number" placeholder="Aktualny przebieg">
	  </label>
      <div class="item item-input item-select">
            <div class="input-label">
                Wybierz stację
            </div>
          <label>
              <select>
                  <option>Orlen</option>
                  <option>Statoil</option>
              </select>
          </label>
      </div>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Data</span>
	    <input type="date" placeholder="Data" ng-model="fillup_date">
	  </label>
	  <button class="button button-block button-stable" >
        Dodaj
      </button>
  </ion-content>
</ion-view>