<div class="bar bar-header">
    <div class="h1 title">Nowy samochód</div>
</div>
<div class="content has-header">
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" ng-model="newCarName" placeholder="Nazwa">
        </label>
        <label class="item item-input">
			<input type="text" ng-model="newCarMileage" placeholder="Przebieg">
        </label>
    </div>
    <div class="padding">
        <button class="button button-block button-positive" ng-click="saveCar(newCarName, newCarMileage)">Dodaj</button>
    </div>
</div>