<ion-view view-title="Driver helper">
  <ion-content has-bouncing="true">
    <button class="button button-block button-assertive icon-right ion-plus-round" ui-sref="app.add">
    	Dodaj tankowanie
    </button>
    <button class="button button-block button-stable icon-right ion-stats-bars" ui-sref="app.stats">
    	Statystyki
    </button>
    <button class="button button-block button-stable icon-right ion-settings" ui-sref="app.settings">
    	Ustawienia
    </button>
  </ion-content>
</ion-view>
