<ion-view view-title="Ustawienia">
	<ion-content>
		<ul class="list">
			<li class="item item-toggle">
				Lokalizacja
				<label class="toggle toggle-assertive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">
				Powiadomienia
				<label class="toggle toggle-positive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
		</ul>
	</ion-content>
</ion-view>