<ion-view view-title="Statystyki">
	<ion-tabs class="tabs-positive tabs-icon-only">
		<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Warminsko-mazurskie_mapa_fizyczna.png/357px-Warminsko-mazurskie_mapa_fizyczna.png">
  		</ion-tab>
		<ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    		
  		</ion-tab>
		<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    		
  		</ion-tab>
	</ion-tabs>
</ion-view>