html, body {
  height: 100%;
}

body {
  background: transparent url(../img/load.jpg) center center no-repeat;
  background-size: 100%;
}


#load {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Trebuchet MS';
  margin-left: 35%;
  margin-top: 80%;
  font-size: 2em;
}

.car-chooser {
  cursor: pointer;
}

.card {
  margin: 10px 0;
}

.delete-card {
  width: 50px;
}

.pane {
  background: #eee;
}

.welcome {
  font-size: 1.25em;
  padding-top: 30px;
  text-align: center;
}

.LOADING {
  background: #000;
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  color: #fff;
}

i {
  color: #666;
  font-style: italic;
}