html, body {
  height: 100%;
}

body {
  background: transparent url(../img/load.jpg) center center no-repeat;
}

.car-chooser {
  cursor: pointer;
}

.welcome {
  font-size: 1.25em;
  padding-top: 30px;
  text-align: center;
}

.LOADING {
  background: #000;
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  color: #fff;
}