<div class="content padding">

    <p class="welcome" ng-if="!cars.length">Brak dodanych samochodów.</p>

    <div ng-if="cars.length">
        <p class="welcome">Wybierz swój samochód:</p>


        <div class="row" ng-repeat="car in cars track by $index">
            <div class="col col-75">

                <div class="card car-chooser" ng-click="chooseCar(car)">
                    <div class="item item-text-wrap">
                        {{car.name}}
                        <i class="ion-arrow-right-b" data-pack="default" data-tags="" style="float: right"></i>
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="card delete-card pull-right" ng-click="removeCar(car.id)">
                    <div class="item item-assertive text-center">
                        <i class="ion-trash-a"></i>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<div class="bar bar-footer bar-balanced" ui-sref="carsAdd">
    <div class="title">Dodaj samochód</div>
</div>